<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand text-light">Andrew Zambik's portfolio</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="text-light" href="#">Home</a></li>
            <li><a class="text-light" routerLink="/resume" routerLinkActive="active">Resume</a></li>
            <li><a class="text-light" routerLink="/projects" routerLinkActive="active">My Projects</a></li>
            <li><a class="text-light" routerLink="/aboutMe" routerLinkActive="active">About me</a></li>
            <li><a class="text-light" routerLink="/contact" routerLinkActive="active">Contact me</a></li>
        </ul>
    </div>
</div>